rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function hasAppSession() {
      return request.auth != null;
    }

    match /approvalPosts/{postId} {
      allow read, create, update, delete: if hasAppSession();

      match /media/{mediaId} {
        allow read, create, update, delete: if hasAppSession();
      }
    }
  }
}
